body{
    color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    background: white;
}

.container{
    height: 100%;
    width: 100%;
}
.header{
    margin-bottom: 8px;
    height: 100px;
    background: whitesmoke;
}
.head-link{
    font-size: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    background: whitesmoke;

}
.left-content{
    margin: 5px;
    flex:3;
    background: whitesmoke;
}
.right-content{
    margin: 5px;
    background: whitesmoke;
    display:  flex;
    flex-direction: column;
    flex:7;
    justify-content: center;
    align-items: center;

}
.footer{
    height: 100px;
    background: green;
}


.test{

    font-size: 28px;
    height: 600px;
    display: flex;
    width: 100%;
}

.vr{
    padding-left: 30px;
}